<a href="https://colab.research.google.com/github/npvinh2410/Data-Analyst/blob/main/19120719_Lab_1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nguyễn Phước Vinh
MSSV: 19120719

In [86]:
import pandas as pd
import numpy as np
dict_columns={
    'numbers':['#23','#24','#18','#14','#12','#10','#35'],
    'nums':[23,24,18,14,np.nan,'XYZ',35],
    'colors':['green','red','yellow','orange','purple','blue','pink'],
    'other_column':[0,1,0,2,1,0,2]}
df = pd.DataFrame(dict_columns)
display(df)
print('Kieu du lieu tuong ung voi cac cot:')
df.dtypes

  numbers nums  colors  other_column
0     #23   23   green             0
1     #24   24     red             1
2     #18   18  yellow             0
3     #14   14  orange             2
4     #12  NaN  purple             1
5     #10  XYZ    blue             0
6     #35   35    pink             2

Kieu du lieu tuong ung voi cac cot:

numbers         object
nums            object
colors          object
other_column     int64
dtype: object

In [87]:
#Cac xu ly gia tri cua 'numbers'
#Xoa ky tu '#' o cac gia tri cua 'numbers'
df=df.assign(numbers=df['numbers'].str.lstrip('#').apply(pd.to_numeric))
print('Gia tri mean cua numbers la: ')
df['numbers'].mean()

Gia tri mean cua numbers la:

19.428571428571427

In [88]:
#Ham in hoa chu cai dau
def inhoa(ch):
  ch1=''
  temp=''
  for i in range(0,len(ch)):
    if(i==0 or temp==' '):
      ch1+=ch[i].upper()
    else:
      ch1+=ch[i]
    temp=ch[i]
  return ch1

In [89]:
#Chuyen cac gia tri Colors in hoa chu dau
df['colors']=df['colors'].apply(lambda x: inhoa(x))
display(df)

   numbers nums  colors  other_column
0       23   23   Green             0
1       24   24     Red             1
2       18   18  Yellow             0
3       14   14  Orange             2
4       12  NaN  Purple             1
5       10  XYZ    Blue             0
6       35   35    Pink             2

In [90]:
#Kiem tra xem cac object co phai la so khong
def kiemtraso(obj):
  if(isinstance(obj,int)):
    #Neu la so thi tra ve chinh no
    return obj
  else:
    #Neu khong phai so tra ve NaN
    return np.nan
#Xu li data cot nums(chuyen cac doi tuong khong phai so ve NaN)
df['nums']=df['nums'].apply(lambda x: kiemtraso(x))
display(df)
df.dtypes

   numbers  nums  colors  other_column
0       23  23.0   Green             0
1       24  24.0     Red             1
2       18  18.0  Yellow             0
3       14  14.0  Orange             2
4       12   NaN  Purple             1
5       10   NaN    Blue             0
6       35  35.0    Pink             2

numbers           int64
nums            float64
colors           object
other_column      int64
dtype: object

In [91]:
#Xu ly missing data
#Thay the cac doi tuong NaN thanh gia tri mean cua cot nums
tb=int(df['nums'].mean())
df['nums'].fillna(tb,inplace=True)
display(df)

   numbers  nums  colors  other_column
0       23  23.0   Green             0
1       24  24.0     Red             1
2       18  18.0  Yellow             0
3       14  14.0  Orange             2
4       12  22.0  Purple             1
5       10  22.0    Blue             0
6       35  35.0    Pink             2